venv/
.venv/
__pycache__/
*.pyc
.env
.git/
.vscode/
data/dossiers/
data/output/
data/types_mines/tmp_*
data/types_mines/ademe_20*.zip
data/types_mines/ademe_20*.7z
data/types_mines/_tmp_*
*.egg-info/
.pytest_cache/
node_modules/
